<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> |  CS 416 Final Project </title>  <!--Common title for all static pages-->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
  </br>
  </br>

    <%flash.each do |message_type,message| %>
      <div><%= message %></div> <!--Additional Styling required later on -->
    <%end%>
    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
